<a class="employee-grid-item" [routerLink]="['EmployeeDetail', { id: employee.id }]">
    <div class="employee-thumb" style="background: url('{{ employeePictureUrl }}'); background-repeat: no-repeat; background-size: cover;">
        <!--<img src="{{ employeePictureUrl }}" height="100%" width="100%"/>-->
        <!--<a *ngIf="employee" [routerLink]="['EmployeeDetail', { id: employee.id }]">{{ employee.name }}</a>-->
        <div class="thumb-overlay">
            <span class="employee-name">{{ employee.lastName }} {{ employee.firstName }}</span>
        </div>
</div>
    
</a>