

<div class="employee-detail">

    <div class="">
        <div class="employee">
            <img src="{{ getEmployeePictureUrl() }}" class="employee__pic"/>

        </div><!--
        -->
        <div class="employee__feedback">
            <span class="employee__name" *ngIf="employee">
                {{ employee.name }}
            </span>
            <form (ngSubmit)="sendFeedback()" #employeeFeedbackForm="ngForm">
                <div class="form-group">
                    <textarea id="feedback" type="text" class="form-control"
                              required [(ngModel)]="feedback"
                              ngControl="feedbackControl"
                              #feedbackControl="ngForm"
                              placeholder="Say something nice"></textarea>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!employeeFeedbackForm.form.valid">Send</button>
            </form>
        </div>
    </div>

</div>
<p>
    <a [routerLink]="['EmployeeList']">Palaa etusivulle</a>
</p>