

<div class="employee-detail">

    <div class="employee">
        <div class="employee__pic">
            <img src="{{ getEmployeePictureUrl() }}"/>
        </div><!--
        -->
        <div class="employee__feedback">
            <span class="employee__name" *ngIf="employee">
                {{ employee.name }}
            </span>
            <span class="employee__location" *ngIf="employee">
                {{ employee.location }}
            </span>
            <form (ngSubmit)="sendFeedback()" #employeeFeedbackForm="ngForm">
                <div class="form-group">
                    <textarea id="feedback" type="text" class="form-control"
                              required [(ngModel)]="feedback"
                              ngControl="feedbackControl"
                              #feedbackControl="ngForm"
                              placeholder="Say something nice"></textarea>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!employeeFeedbackForm.form.valid">Send</button>
            </form>
        </div>
    </div>
    <a id="back-to-list" [routerLink]="['EmployeeList']"><i class="fa fa-arrow-circle-o-left"></i> Back to people</a>

</div>
