<div *ngFor="#employee of employees" class="col-md-4">
    <div>
        <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
        <div *ngFor="#feedback of employee.textFeedback">
            <span>{{ feedback }}</span>
        </div>
    </div>
</div>

<div id="data">
    <table class="table">
        <thead>
            <tr>
                <td>Nimi</td>
                <td>Palaute</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#employee of employees">
                <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                <td>
                    <p *ngFor="#feedback of employee.textFeedback">
                        {{ feedback }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<p>
    <a [routerLink]="['EmployeeList']">Palaa etusivulle</a>
</p>