<div class="presentation-container">

    <div class="presentation-item-wrapper">

        <div class="presentation-item" *ngFor="#shuffledEmployee of shuffledEmployees">

            <img *ngIf="!shuffledEmployee.hasPicture" class="presentation-item__image" src="Content/images/faxe.png"
                  alt="{{ shuffledEmployee.firstName }} {{ shuffledEmployee.lastName }}"/>
            <img *ngIf="shuffledEmployee.hasPicture" class="presentation-item__image" src="{{ getEmployeePictureUrl(shuffledEmployee.id) }}"
                  alt="{{ shuffledEmployee.firstName }} {{ shuffledEmployee.lastName }}"/>

            <div class="presentation-item__text">
                <header>
                    <h3>{{ getRandomGreeting() }} {{ shuffledEmployee.firstName }}!</h3>
                    <p>{{ getRandomInsert() }}:</p>
                </header>

                <p class="feedback">
                    {{ shuffledEmployee.textFeedback }}
                </p>
            </div>

        </div>
    </div>
</div>