<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activeDirectory" type="Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory.Configuration, Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory" requirePermission="false" />
  </configSections>

  <activeDirectory domainPath="google.fi" queryFilter="(abc=xyz)" pictureUrlProperty="picture" locationProperty="Turku"
                   organizationProperty="IT" subOrganizationProperty="Coding" />
</configuration>