<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activeDirectory" type="Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory.Configuration, Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory" requirePermission="false" />
  </configSections>

  <activeDirectory domainPath="google.fi" groups="main-list, board-of-directors,sanitation , testers" />
</configuration>