/*
    variables
*/

$bg-color: #fff;


body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.employee-list {

    span {
        display: inline-block;
        height: 80px;
        width: 80px;
        overflow: hidden;
        background-color: #ccc;
    }
}

.employee-detail {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    form {
        padding-top: 50px;
    }
}

.employee {
    display: inline-block;
}

.employee__name {
    display: block;
}

.employee__feedback {
    display: inline-block;
    background-color: #e5e5e5;
    width: calc(100% - 200px);
    height: 300px;
}