header {
    padding: 25px 0;
    position: relative;
    z-index: 1;
}

.site-title {
    font-size: 24px;
    line-height: 30px;
    font-family: $font-base;
    font-weight: bold;
    margin: 0;
    
    a {
        text-decoration: none;
        color:  $brand-main;

        &:visited {
            color: $brand-main;
        }
    }
}

.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: $font-base-color;
}
