.site-header {
    padding: 25px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.site-title {
    font-size: 24px;
    line-height: 30px;
    font-family: $font-base;
    font-weight: bold;
    margin: 0;
    
    a {
        text-decoration: none;
        color:  $brand-main;

        &:visited {
            color: $brand-main;
        }
    }
}

.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: $font-base-color;
}
