
.employee-grid {
    margin: 0 auto;

    /* clear fix */
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

employee-list-item {
}

.employee-grid-item {
    position: relative;
    float: left;
    height: 170px;
    width: 135px;
    margin: 10px;
    display: block;

    i {
        position: absolute;
        top: 50%;
        font-size: 100px;
        margin: 0 auto;
        width: 135px;
        text-align: center;
        transform: translateY(-50%);
        color: #ee008c;
    }
}

.employee-thumb {
    position: relative;
    height: 170px;
    width: 135px;
}

.thumb-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;

    &:hover {
        opacity: 1;
    }
}
