.employee-search-container {
    margin: 0 100px;
    padding-bottom: 50px;

    @media (max-width: 768px) {
           margin: 0 50px;
       }

    h1 {
        color: #fff;
        text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
        font-size: 6em;
        padding: 30px 0;
        text-align: center;
        font-family: "Helvetica", sans-serif;
        font-weight: bold;
        margin-top: 0;

       @media (max-width: 1200px) {
           font-size: 5em;
       }
       @media (max-width: 992px) {
           font-size: 4em;
       }
       @media (max-width: 768px) {
           font-size: 3em;
       }
    }


}

.search-bar {
    position: relative;
    margin: 0 auto;
    max-width: 400px;

    
    ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #666 }
        ::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #666 } /* firefox 19+ */
        :-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #666 } /* ie */
        input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #666 }

    &__input {
        font-size: 1em;
        height: 50px;
        padding-right: 50px;
        width: 100%;
        max-width: 400px;
    }

    &__icon {
        font-size: 1em;
        position: absolute;
        top: 0;
        right: 0;
        color: #999;
        padding: 18px;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }
}
