.search-employee {
    font-size: 14pt;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.employee-search-icon {
    float: left;
    font-size: 25pt;
}

.employee-search-container {
    width: 26em;
    margin-left: auto;
    margin-right: auto;
}
