<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <activeDirectory
    domainPath="#{ActiveDirectory.DomainPath}"
    groups="#{ActiveDirectory.GroupsToSync}"
    pictureUrlProperty="#{ActiveDirectory.Properties.PictureUrl}"
    locationProperty="#{ActiveDirectory.Properties.Location}"
    organizationProperty="#{ActiveDirectory.Properties.Organization}"
    subOrganizationProperty="#{ActiveDirectory.Properties.SubOrganization}"
    xdt:Transform="Replace" />
  
  <connectionStrings>
    <add name="MongoDB" connectionString="#{MongoDBConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

</configuration>
