<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activeDirectory" type="Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory.Configuration, Affecto.PositiveFeedback.EmployeeSynchronization.ActiveDirectory" requirePermission="false" />
  </configSections>

  <activeDirectory configSource="ActiveDirectory.config"/>

  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost/PositiveFeedback" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>